<!DOCTYPE html>
<html>
  <head>
    <title>CDN Stats</title>
    <link href="https://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        margin-top: 40px;
        padding-top: 15px;
      }
      table td.right, table th.right {
        text-align: right;
      }
      table td.left, table th.left {
        text-align: left;
      }
      #by-hours, #by-path, #by-referer {
        padding-top: 40px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><a href="#by-hours">Hours</a></li>
            <li><a href="#by-path">Path</a></li>
            <li><a href="#by-referer">Referer</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Buckets<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/">All</a></li>
                {{range .Buckets}}
                  <li><a href="/bucket/{{.}}">{{.}}</a></li>
                {{end}}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servers<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/">All</a></li>
                {{range .Servers}}
                  <li><a href="/server/{{.}}">{{.}}</a></li>
                {{end}}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>CDN Stats</h1>

          <h2>{{.Title}}</h2>

          <h3>Summary</h3>

          <table>
            <tr>
              <td class="right">Requests/sec (average):</td>
              <td class="left">{{.Summary.Rps}}</td>
            <tr>
            <tr>
              <td class="right">Bytes/sec (average):</td>
              <td class="left">{{.Summary.Bps | humanizeSize}}</td>
            </tr>
          </table>

          <h3 id="by-hours">By hours</h3>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="right">Hour</th>
                <th class="right">Reqs/sec</th>
                <th class="right">Bytes/sec</th>
              </tr>
            </thead>
            <tbody>
              {{range $index, $el := .ByHour}}
                <tr>
                  <td class="right">{{$index}}</td>
                  <td class="right">{{$el.Rps}}</td>
                  <td class="right">{{$el.Bps | humanizeSize}}</td>
                </tr>
              {{end}}
            </tbody>
          </table>

          <h3 id="by-path">By path</h3>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="left">Path</th>
                <th class="right">Bytes</th>
              </tr>
            </thead>
            <tbody>
              {{range .ByPath}}
                <tr>
                  <td class="left">{{.Name}}</td>
                  <td class="right">{{.Bytes | humanizeSize}}</td>
                </tr>
              {{end}}
            </tbody>
          </table>

          <h3 id="by-referer">By referer</h3>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="left">Referer</th>
                <th class="right">Bytes</th>
              </tr>
            </thead>
            <tbody>
              {{range .ByReferer}}
                <tr>
                  <td class="left">{{.Name}}</td>
                  <td class="right">{{.Bytes | humanizeSize}}</td>
                </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.min.js"></script>
  </body>
</html>
